<div class="slider">
	<ul class="slides">
		<li>
			<img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
			<div class="caption center-align">
				<h3>This is our big Tagline!</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
		<li>
			<img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
			<div class="caption left-align">
				<h3>Left Aligned Caption</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
		<li>
			<img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
			<div class="caption right-align">
				<h3>Right Aligned Caption</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
		<li>
			<img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
			<div class="caption center-align">
				<h3>This is our big Tagline!</h3>
				<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
			</div>
		</li>
	</ul>
</div>
<div class="container">

	<div class="section">

		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m8">
				<h5>Article1</h5>
				<p>One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.
				</p>
				<h5>Article2</h5>
				<p>One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.
				</p>
				<h5>Article3</h5>
				<p>One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.
				</p>
			</div>
			<div class="col s12 m4">
				<ul class="collection">
					<li class="collection-item">LIC NAV</li>
					<li class="collection-item">DOWNLOADS</li>
					<li class="collection-item">CALCULATOR</li>
				</ul>
				<div class="card">
					<div class="block-title teal darken-2 white-text">MF News</div>
					<ul class="collection mf-news">
						<li class="collection-item avatar ">
							<i class="material-icons circle">folder</i>
							<span class="title">
								<a class="teal-text" target="blank" href="http://www.moneycontrol.com/news/mf-news/icici-prudential-index-fund-announces-changeexit-load_3375921.html">ICICI Prudential Index Fund announces change in exit load</a></span>
							</li>
							<li class="collection-item avatar ">
								<i class="material-icons circle">folder</i>
								<span class="title">
									<a class="teal-text" target="blank" href="http://www.moneycontrol.com/news/mf-news/icici-prudential-index-fund-announces-changeexit-load_3375921.html">ICICI Prudential Index Fund announces change in exit load</a></span>
								</li>
								<li class="collection-item avatar ">
									<i class="material-icons circle">folder</i>
									<span class="title">
										<a class="teal-text" target="blank" href="http://www.moneycontrol.com/news/mf-news/icici-prudential-index-fund-announces-changeexit-load_3375921.html">ICICI Prudential Index Fund announces change in exit load</a></span>
									</li>
									<li class="collection-item avatar ">
										<i class="material-icons circle">folder</i>
										<span class="title">
											<a class="teal-text" target="blank" href="http://www.moneycontrol.com/news/mf-news/icici-prudential-index-fund-announces-changeexit-load_3375921.html">ICICI Prudential Index Fund announces change in exit load</a></span>
										</li>
									</ul>
								</div>
								<div class="card">
									<div class="block-title teal darken-2 white-text">NAV Viewer</div>
									<form class="col s12">
										<div class="row">
											<div class="input-field col s12">
												<select class="browser-default">
													<option value="">Selct AMC</option>
													<option value="1">Axis Mutual Fund</option>
													<option value="2">HDFC Mutual Fund</option>
													<option value="3">ICICI Mutual Fund</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<select class="browser-default">
													<option value="">Scheme Type</option>
													<option value="1">SIP</option>
													<option value="2">Mutual Fund</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<select class="browser-default">
													<option value="">Select Scheme</option>
													<option value="1">Scheme1</option>
													<option value="2">Scheme2</option>
													<option value="3">Scheme3</option>
													<option value="3">Scheme4</option>
													<option value="3">Scheme5</option>
													<option value="3">Scheme6</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12 center">
												<input type="submit" class='btn' value="GO">
											</div>
										</div>
										<!-- <div class="input-field col s12">
<input type="date" class="datepicker" id="from_date">
<label for="from_date">Nav From</label>
</div> -->
<!-- <div class="input-field col s12">
<input type="date" class="datepicker" id="to_date">
<label for="to_date">Nav To</label>
</div> -->
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal Structure -->
				<div id="signupModal" class="modal">
					<div class="modal-content">
						<h5 class="center-align">Create An Account</h5>
						<div class="row">
							<%= form_tag user_registration_path, :class=>"col s12" %>
								<div class="row">
									<div class="input-field col s12">
										<input id="name" placeholder="Name" name="user[name]" type="text" class="validate">
									</div>
									<div class="input-field col s12">
										<input id="email" name="user[email]" placeholder="Email" type="text" class="validate">
									</div>
									<div class="input-field col s12">
										<input id="password" name="user[password]" placeholder="Password" type="password" class="validate">
									</div>
									<div class="input-field col s12">
										<input id="password" name="user[confirm_password]" placeholder="Confirm Password" type="password" class="validate">
									</div>
									<div class="input-field col s12">
										<input id="mobile" name="user[mobile]" placeholder="Mobile" type="text" class="validate">
									</div>
									<div class="input-field col s12 ">
										<button type="submit" class="waves-effect waves-green btn">Create </button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Modal Structure -->
				<div id="loginModal" class="modal">
					<div class="modal-content">
						<h5 class="center-align">Login</h5>
						<div class="row">
							<%= form_tag user_session_path, :class=>"col s12" %>
								<div class="row">
									<div class="input-field col s12">
										<input id="email" name="user[email]" placeholder="Email" type="text" class="validate">
									</div>
									<div class="input-field col s12">
										<input id="password" name="user[password]" placeholder="Password" type="password" class="validate">
									</div>
									<div class="input-field col s12 ">
										<button type="submit" class="waves-effect waves-green btn">Login </button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
