		<ul class="right hide-on-med-and-down ">
			<li class='waves-effect waves-light grey-text text-lighten-3'><a href="#">BuyMF Online</a></li>
			<li class='waves-effect waves-light grey-text text-lighten-3'><a class="openModal" data-for="login" href="#">Login</a></li>
			<li class='waves-effect waves-light grey-text text-lighten-3'><a class="openModal" data-for="signup" href="#">Signup</a></li>
		</ul>