		<ul class="right hide-on-med-and-down ">
			<li class='waves-effect waves-light grey-text text-lighten-3'><a href="#">BuyMF Online</a></li>
			<li class='waves-effect waves-light grey-text text-lighten-3'><%= link_to "Signout",destroy_user_session_path(),:method=>"DELETE"%></li>
		</ul>